@import '../common/variates.scss';

ul.viewList {
    & li{
        list-style: none;
        display: inline-block;
        width:92%;
        margin: .5rem 4% 0 4%;
        background: #fff;
        border:0;
        border-radius:6px;
        padding: .8rem 0 .8rem 0;
        & .top{
           padding-left: .75rem;
           padding-right: .375rem;
           font-size: .7rem;
           position: relative;
           display: -webkit-box;
           -webkit-box-orient: vertical;
           overflow: hidden;
           word-wrap: break-word;
          }
        & .borderBot {
            padding-bottom: .8rem;
            border-bottom: .025rem solid #e9e9e9;
        }
        & .icon::before{
            content:'';
            display: inline-block;
            width: .25rem;
            height: .65rem;
            background:$cor-ff6b00;
            position: absolute;
            top: 0.09rem;
            left: -.015rem;
        }
        & .center {
            width: 100%;
            padding-top: 1rem;
            padding-bottom: .3rem;
            &.centerBot {
                padding-bottom: .85rem;
            }
            & .p_w {
                text-align: center;
                & p:first-child {
                    color: #ff6b00;
                    & label {
                        font-weight: normal;
                        font-size: 1.55rem;
                    }
                    & em {
                        font-size: .7rem;
                    }
                }
                & p:last-child {
                    font-size: .5rem;
                    color: #ccc;
                    margin-top: .4rem;
                }
            }
            & .w1 {
                width: 6.0rem;
                display: inline-block;
            }
            & .w2 {
                width: 5.0rem;
                display: inline-block;
            }
            & .w3 {
                width: 5.3rem;
                display: inline-block;
                & b {
                    line-height: 1.5rem;
                    font-weight: normal;
                    font-size: .8rem;
                }
            }
        }
        & .bottom {
            width: 100%;
            padding-left: .75rem;
            padding-right: .75rem;
            padding-bottom: .75rem;
            box-sizing: border-box;
            & .bot_l {
                height: 29px;
                line-height: 30px;
                font-size: .6rem;
                color: #999;  
            }
            & .progressBar {
                width: 70%;
                float: right;
                position: relative;
                margin-right: 6%;
                margin-left: 1%;
                & .bar {
                    position: absolute;
                    top: .05rem;
                    font-size: .5rem;
                    color: #999;
                }
                & .bar_l {
                    left: -0.5rem;
                }
                & .bar_r {
                    right: -1.2rem;
                }
                & .mt-progress-runway {
                    border-radius: .25rem;
                }
                & .mt-progress-progress {
                    background-color: #ffab10;
                    border-radius: .25rem;
                }
                & .hintWord {
                    width: auto;
                    position: absolute;
                    bottom: -0.5rem;
                    background-color: #ffab10;
                    border-radius: .15rem;
                    
                    & > label {
                        min-width: 1.4rem;
                        display: block;
                        font-size: .5rem;
                        color: #fff;
                        text-align: center;
                        padding: 0 .15rem;
                        
                    }
                    & > i {
                        width: 0px; 
                        height: 0px; 
                        position: absolute; 
                        left: 0; 
                        // right: 0; 
                        top: -.13rem;
                        margin: 0 auto; 
                        border: .16rem solid #ffab10; 
                        // border-left-color: transparent; 
                        // border-right-color: transparent; 
                        // border-top-color: transparent;
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }
                }
            }
        }
    }
} 
ul.viewList:first-of-type {
    & li{
        margin-top: 0;
    }
}
.mint-searchbar {
    padding: 0;
    background: transparent;
    height: 100%;
    width: 95%;
}
.mint-searchbar-inner {
    border: 1px solid #e3e1e1;
    border-radius: 1rem;
    height: 97%;
    width: 85%;
}
.mint-searchbar-inner form {
    width: 90%;
}
.mintui-search:before {
    content: "";
}
.mint-searchbar-core {
    padding-left: 1.6rem;
}
input::-ms-clear {
    display: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
input[type="search"] {
    font-size: 0.7rem;
}
.mint-search {
    width: 100%;
    margin-left: 0.4rem;
}
//单个产品详情
.insureDetail {
    width: 100%;
    float: left;
    border-radius: .15rem;
    background: #fff;
    padding:0;
    margin-bottom: .5rem;
    i{
        font-style: normal;
    }
  & li {
      width: 100%;
      height: auto;
      line-height: 1.2rem;
      float: left;
      position: relative;
      border-bottom: .025rem solid $cor-ebebeb; 
      box-sizing: border-box;
      padding: 0.7rem .75rem;
      & > span {
          width: 31%;
          display: inline-block;
          font-size: .75rem;
          color: $cor-999;
          float: left;
      }
      & > label {
        width: 66%;
        display: inline-block;
        font-size: .75rem;
        color: $cor-687785;
        text-align: right;
        word-wrap: break-word;
        & b{
            font-size: .7rem;
            color: $cor-687785;
            font-style: normal;
        }
        & i{
            font-size: .7rem;
            color: $cor-687785;
            font-style: normal;
        }
        &.state {
            color: $cor-ff6b00;
        }
    }
    &.liHAuto {
        height: auto;
        line-height: normal;
        margin-top: .5rem;
        & > span {
            width: 100%;
            float: left;
            font-size: .75rem;
            color: $cor-687785;
            margin-top: .75rem;
        }
        & > label {
            width: 97%;
            float: left;
            font-size: .75rem;
            color: $cor-999;
            text-align: justify; 
            word-break: break-all;
            margin-top: .4rem;
            padding-bottom: 1rem;
            
        }
    }
}

  & li:last-child{
    border:none;
    }
  & li.title{
      font-size: .75rem;
      color: $cor-999;
      padding:0.7rem 0.7rem 0;
      border-bottom: none; 
    }
  & li.content{
      font-size: .75rem;
      height:auto;
      line-height: 1.25rem;
      color: #687785;
      padding-top: .5rem;
      padding-bottom: .5rem;
      word-wrap: break-word;
      text-align: justify;
      & span{
          width:auto;
      }
    }
}
.insureDetailLong{
  margin-left:0;
  margin-right:0;
  width:100%;
}
.insureDetailFile{
    margin-left:0;
    margin-right:0;
    width:100%;
    padding: .5rem .75rem;
  }
//组合产品详情
.insuresDetail:first-of-type{
    margin-top: .55rem;
}
.insuresDetail{
    & li{
         line-height: 1.5rem;
         height:auto;
         position: relative;
      }
    & li.title:before{
        content: '';
        display: inline-block;
        width: .25rem;
        height: .65rem;
        background: #ff6b00;
        position: absolute;
        top: 0.71rem;
        left: 0rem;
     }
     & li.title{
        height: 2.25rem;
        line-height: 1.5rem;
        border-bottom: .025rem solid $cor-e5e5e5; 
        padding: 0 0.7rem;
         & span{
             font-size: .85rem;
             color: $cor-333;
             display: inline-block;
             height: 100%;
             line-height: 2.25rem;
         }
         & a.r{
            float:right;
            color: $cor-3994ea;
            font-size: .6rem;
            display: inline-block;
            height:100%;
            line-height: 2.25rem;
        }
     }
     & li.subtitle{
         padding:.65rem 0.7rem;
         border:none;
         margin-bottom: 0;
        &  .proName{
          color:$cor-333;
          font-size: .75rem;
          line-height: .75rem;
          word-wrap: break-word;
        }
        &  .proCode{
            color:$cor-a1a1a1;
            font-size: .6rem;
            line-height: .45rem;
            margin-top: .375rem;
        }
     }
     & li.expireDate{
        padding: .65rem 0.7rem;
        padding-top: .375rem;
        padding-bottom: 0;
        border: none;
        border-bottom: .025rem solid $cor-e5e5e5;
        border-top: .025rem solid $cor-e5e5e5;
        & .top{
            color: $cor-999;
            font-size: .5rem;
        }
        & .bottom{
            color: $bgcor-ff6b00;
            font-size: .75rem;
        }
        & .extraIS{
            color: $cor-333;
            font-size: .75rem;
        }
       &  .l{
         float: left;
         width: 51%;
         padding-right: 1%;
         padding-bottom: .65rem;
       }
       &  .r{
          float:right;
          width: 45%;
          padding-left: 3%;
          border-left: .025rem solid $cor-e5e5e5;
          padding-bottom: .65rem;
       }
    }
    & li.expireDate{
        padding-top:0;
        &  .l{
            padding-top: .65rem;
            padding-bottom: .65rem;
          }
          &  .r{
             padding-top: .65rem;
             padding-bottom: .65rem;
          }
    }
    & li.baseAmount{
        border:none;
    }
}
.insuresDetail:last-of-type{
    margin-bottom: 3rem;
}
.incomeList {
    width: 66%;
    float: right;
    font-size: .75rem;
    text-align: right;
    word-wrap: break-word;
    & > p{
        width: 32%;
        display: inline-block;
        text-align: center;
        font-size: .7rem;
        color: #ff6b00;
    }
}
.incomeListTit {
    width: 66%;
    float: right;
    & > p {
        width: 32%;
        display: inline-block;
        text-align: center;
        font-size: .6rem;
        color: #ccc;
    }
}
@media (min-width: 375px){  
    .insuresDetail{
        & li.title:before{
            top: 0.77rem;
        }
    }
}

