
.pageWrapperList{
    padding-bottom: 0;
}
// .fixedTop{
//     position: fixed;
//     top: 0;
//     width: 100%;
//     background: #fff;
//     z-index: 8;
// }
.tabList{
    width: 100%;
    overflow: auto;
    .tabWrapper{
        width: 125%;
        li{
            width: 20%;
            color: #B2B6BF;
            font-size: .8rem;
        }
        li.active{
            font-size: .8rem;
            color: #121C32;
        }
        li.active:after{
            width: 1.8rem;
            margin-left: -0.9rem;
            height: 0.2rem;
            // border-radius: 0.1rem;
        }
        li.active:before{
            border-bottom: 0;
        }
    }
}
.tabList::-webkit-scrollbar{
    display: none;
}
.pullList{
    padding: 0 1rem;
    width: 100%;
    height: 1.95rem;
    background: #fff;
    border-bottom: 1px solid #E9E9E9;
    .pullDown{
        width: 70%;
        float: left;
        li{
            width: 33.3%;
            float: left;
            line-height: 1.95rem;
            color: #394259;
        }
        li:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-left: .15rem solid transparent;
            border-right:.15rem  solid transparent;
            border-top: .3rem solid #878787;
            margin-left: 0.2rem;
        }
        li.active{
            color: #FF8637;
        }
        li.active:after{
            border-bottom: .3rem solid #FF8637;
            border-top: 0;
        }
    }
    .searchIcon{
        // width: 30%;
        float: right;
        img{
            width: .7rem;
            height: .7rem;
            margin-top: 0.625rem;
        }
    }
}
.pullDownList{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index:9;
    .downList{
        background: #fff;
        padding: 0 1rem;
        li{
            line-height: 1.9rem;
            border-bottom: 1px solid #E9E9E9;
        }
    }
    .downMask{
        height: 80%;
        background: rgba(0,0,0,0.50);
    }
}
button{
    outline:none;
}
.searchContentBox{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.50);
    top: 0;
    bottom: 0;
    z-index: 999;
    right: -100%;
    transition: all .3s;
}
.searchContentBox.active{
    right: 0;
    transition: all .3s;
}
.searchMask{
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
}
.searchContent{
    width: 13.7rem;
    height: 100%;
    color: #394259;
    background: #fff;
    position: absolute;
    right:0rem;
    // &.searchContent.active{
    //     right: 0;
        
    // }
    .contentBox{
        width: 100%;
        .contentTitle{
            font-size: .7rem;
            // margin-left: 1rem;
            // margin-bottom: 1rem;
            padding: 0.5rem;
        }
        .contentList{
            // li{
            //     float: left;
            //     width: 33.33%;
            //     margin: 0.5rem 1rem;
            //     box-sizing: border-box;
                button{
                    width: 3rem;
                    height: 1.4rem;
                    font-size: .6rem;
                    margin-left:1rem;
                    margin-bottom: 0.5rem;
                    background: #fff;
                    border: 1px solid #394259;
                    color: #394259;
                    border-radius: 0.1rem;
                }
                button.active{
                    border: 1px solid #FF8637;
                    color: #FF8637;
                }
            // }
           
        }
    }
    .searchButton{
        width: 100%;
        padding: 0 1rem;
        position: absolute;
        bottom: 1rem;
        display: flex;
        justify-content: space-between;
        button{
            width: 5.6rem;
            height: 1.8rem;
            border: 1px solid #394259;
            color: #394259;
            font-size: .8rem;
            background: #fff;
            border-radius: 0.9rem;
        }
        .confirmBtn{
            color: #fff;
            background: #FF8637;
            border: 0;
        }
    }
}
.viewList{
    .viewItem{
        width: 100%;
        padding: 0.5rem 1rem;
        padding-top: 0;
        margin: 0;
        margin-bottom: 0.5rem;
        .viewItemTop{
            overflow: hidden;
            margin-bottom: 0.5rem;
            .viewItemTopTab{
                width: 80%;
                float: left;
                padding-top: 0.5rem;
                
                span{
                    display: inline-block;
                    padding: 0.1rem .35rem;
                    border: 1px solid #5C687E;
                    border-radius: .15rem;
                    margin-right: .5rem;
                    font-size: .5rem;
                    color: #5C687E;
                }
            }
            .viewItemTopStatus{
                float: right;
                img{
                    width: 3rem;
                    height: 1.1rem;
                }
            }
        }
        .viewItemMiddle{

            .itemTitle{
                font-size: .8rem;
                line-height: 1.2rem;
                color: #121C32;
            }
            .itemDataList{
                overflow: hidden;
                position: relative;
                li{
                    float: left;
                    margin: 0;
                    color: #666687;
                    font-size: .65rem;
                }
                .itemDataTop{
                    width: 38%;
                    .topResult{
                        font-size: .8rem;
                        color: #FF8637;
                        font-weight: bold;
                    }
                    .topTitle{
                        font-size: .7rem;
                    }
                    .littleWord{
                        font-size: .5rem;
                    }
                }
                .itemDataCenter{
                    width: 44%;
                    .centerDate{
                        margin-bottom: 0.05rem;
                    }
                    .centerDate,.centerMoney{
                        font-size: .7rem;
                    }
                    .centerDate span,.centerMoney span{
                        font-size: .7rem;
                    }
                    .centerDate span{
                        line-height: 1rem;
                    }
                    .dataNumber{
                        color: #121C32;
                        font-weight: bold;
                    }
                }
                .itemDataRight{
                    width: 18%;
                    
                    margin-top: -0.8rem;
                    // padding: 0;
                    button{
                        // float: right;
                        width: 3rem;
                        height: 1.6rem;
                        background-color: #FF8637;
                        color: #fff;
                        border-radius: 0.2rem;
                        font-size: 0.6rem;
                        position: absolute;
                        bottom: 0.9rem;
                        right: 0;
                    }
                }
            }
        }
        .viewItemBottom{
            background: #F7F9FC;
            padding: 0.8rem;
            .bottomData{
                li{
                    background: #F7F9FC;
                    padding: 0.1rem 0 ;
                    margin: 0;
                    width: 100%;
                    font-size: .5rem;
                    color: #666687;
                }
                .bottomDataTab{
                    margin-top: 0.2rem;
                    span{
                        display: inline-block;
                        width: 3.2rem;
                        padding: 0.2rem .35rem;
                        border-radius: .15rem;
                        margin-right: .5rem;
                        font-size: .6rem;
                        color: #666687;
                        background: #DFDFED;
                    }
                    
                }
            }
        }
    }
}
// 加载loading
.mint-spinner-snake{
    position: fixed;
    top: 40%;
}