


body{
	// background: $cor-FFCD95;
}

// .page, .content{
// 	height: 100%;
// }

.pageContent{
	//height: calc(100% - 2.2rem);
  /*
   pageTitle提出成公共组件之后，在pageContent内部使用，不用再出去pageTitle的高度
   */
	height: 100%;
	width: 100%;
}

.page{
	height: 100%;
	width: 100%;
	position: relative;

	.noDataContent{
		padding-bottom: 0 !important;
	}
	// .content{
	// 	//padding-bottom: 3.23rem;
	// }
	.headCon{
		width: 100%;
		text-align: center;

		.imgBg{
			position: absolute;
			width: 100%;
			z-index: -10;
			top: 0;
			left: 0;
		}

		.txt_2{
			// margin-top: 0.1rem;
			// margin-top: 0.3rem;
			text-shadow: 0px 4px 3px rgba(228,54,12,1);
			// background: linear-gradient(0deg,rgba(254,197,48,1) 0%, rgba(254,239,145,1) 100%);
			color: #FFE98C;
		}

	}

	.midCon{
		margin-left: 0.8rem;
		margin-right: 0.8rem;

		.left, .right{
			width: calc(50% - 0.25rem);
			border-radius: 0.2rem;
			text-align: center;

			.title{
				color: $cor-3c3c3c;
				font-size: 0.8rem;
				margin-top: 1.0rem;
				font-weight: bold;
				position: relative;
				z-index: 20;

				&:after{
					content: '';
					width: 4.25rem;
					height: 0.7rem;
					background: linear-gradient(0deg, #ffe6bd, #fef6e9);
					border-radius: 0.35rem;
					position: absolute;
					top: 0.6rem;
					left: 0;
					z-index: -10;
					right: 0;
					margin: 0 auto;
				}
			}

			.num_1{
				color: $cor-fd5c20;
				font-weight: bold;
			}

			.txt{
				color: $cor-92918e;
				font-size: 0.6rem;
				height: 0.6rem;
			}

			.num_2{
				margin-top: 0.6rem;
				color: $cor-fd1c08;
				font-weight: bold;
			}

			.chg{
				font-size: 0.65rem;
				// height: 0.65rem;
				// color: $cor-ec4935;
				font-weight: bold;

				&.up, &.down{

					.img{
						display: inline-block;
						vertical-align: middle;
						width: 0.35rem;
						height: 0.5rem;
					}

				}

				//向上箭头
				&.up{
					color: $cor-ec4935;

					.img{
						background: url('../../img/hrm/u.png');
						background-size: 100%;
						background-repeat: no-repeat;
					}
					.num{
						color: $cor-ec4935;
					}
				}

				&.down{
					color: $cor-37B170;

					.img{
						background: url('../../img/hrm/d.png');
						background-size: 100%;
						background-repeat: no-repeat;
					}

					.num{
						color: $cor-37B170;
					}

				}

				.num{
					font-size: 0.65rem;
					height: 0.65rem;
					vertical-align: middle;
					color: #999;
					// margin-left: 0.3rem;
				}
			}

		}

		.left{
			float: left;
		}

		.right {
			float: right;
		}
	}

	//图表
	.echartsWrap{
		display: none;
		margin-top: 1rem;
		margin-left: 0.35rem;
		margin-right: 0.35rem;

		padding-top: 0.6rem;
		background: url('../../img/hrm/bh.png');
		background-size: 100%;
		background-repeat: no-repeat;


		&:first-child{
			margin-top: 0.5rem;
		}

		.wrapper{
			background: $cor-fff;
			box-shadow: $commonShadow;
			margin-left: 0.45rem;
			margin-right: 0.45rem;
			border-radius: 0 0 0.2rem 0.2rem;
			padding-top: 1.375rem;


			.echartsTitle{
				// margin-bottom: 1rem;
				text-align: center;
				img{
					width: 1rem;
					height: 1rem;
				}
				.title{
					color: $cor-3c3c3c;
					font-size: 0.8rem;
					font-weight: bold;
					position: relative;
					z-index: 20;
					margin: 0 10px;
					margin-top: 1.0rem;
					&:after{
						content: '';
						width: calc(100% + 20px);
						height: 0.7rem;
						background: linear-gradient(0deg, #ffe6bd, #fef6e9);
						border-radius: 0.35rem;
						position: absolute;
						top: 0.6rem;
						left: -10px;
						z-index: -10;
						right: 0;
						margin: 0 auto;
					}
				}
			}

			.echartsCon{
				margin-top: 1.0rem;
				width: 100%;
			}

			.echartsTab{
				margin-top: 1.0rem;
				// margin-bottom: 1.25rem;
				position: relative;
				@extend .clearfix;

				.mint-tabbar{
					position: relative;
					height: 1.2rem;
					line-height: 1.2rem;
					background: transparent;
					margin-left: 1.0rem;
					margin-right: 1.0rem;
				}
				.mint-tab-item{
					background: $cor-ffe6d4;
					color: $cor-ff6415;
					// border-left: 1px solid rgba(204,204,204, 0.6);
					padding: 0;

					.mint-tab-item-label{
						font-size: 0.6rem;
						display: inline;
					}

					&:first-child{
						border-top-left-radius: 0.6rem;
						border-bottom-left-radius: 0.6rem;
						// border-left: none;
					}

					&:last-child{
						border-top-right-radius: 0.6rem;
						border-bottom-right-radius: 0.6rem;

					}

					&.is-selected{
						background: $cor-ff6415;
						color: $cor-fff;
						// border-left: none;

						// &+.mint-tab-item{
						// 	border-left: none;
						// }
					}
				}
			}
		}
	}

}
