//首页模块样式
//author yangjinlai 2020-02-13

.indexPage{

	.headCon{

		.imgBg{
			height: 9.25rem;
			background: url('../../img/hrm/bg.png');
			background-size: 100% 100%;
		}

		.txt_1{
			padding-top: 1.2rem;
			color: $cor-fff;
			font-size: 0.9rem;

			.name{
				margin-left: 0.5rem;
				margin-right: 0.5rem;
				font-size: 1.1rem;
				font-weight: bold;
				display: inline-block;
				width: 4rem;
			}
		}

		.txt_2{

			.num{
				font-size: 2.0rem;
				margin-right: 0.3rem;
			}
			.num_money{
				display: inline-block;
				width: 4rem;
			}
		}

		.txt_3{
			
			color: $cor-fdfcd8;
			margin-top: 0.3rem;
			// .bottom{
			// 	display: inline-block;
			// 	width: 80%;
			// }

			.bumen{
				// margin-right: 0.4rem;
				vertical-align: middle;
				font-size: 0.6rem !important;
				line-height: 0.6rem;
			}

			.time{
				vertical-align: bottom;
			}

			.star{
				display: inline-block;
				transform: rotate(-30deg) scale(0.7);
				vertical-align: middle;
				font-size: 0.4rem;
				line-height: 0.4rem;

                // margin-bottom: 0.8rem;

				// &.star_l{
				// 	margin-right: 0.3rem;
				// }

				// &.star_r{
				// 	margin-left: 0.3rem;
				// }
			}
		}
	}

	.midCon{
		// margin-top: 1.15rem;

		.left, .right{
			background: url('../../img/hrm/jryy.png');
			background-size: 100% 100%;
			padding-bottom: 1.0rem;

			.num_1{
				// margin-top: 1.35rem;
				margin-top: 1.05rem;
				font-size: 1.2rem;
				height: 1.2rem;
			}

			.txt{
				margin-top: 0.45rem;
			}

			.num_2{
				font-size: 1.4rem;
				height: 1.4rem;
			}

			.chg{
				margin-top: 0.8rem;

				.num{
					vertical-align: middle;
				}
			}

		}

	}

	.echartsWrap{
		.title{
			margin-top: 1.4rem;
			font-size: 0.8rem;
		}
	}

	.annualAmount{
		.wrapper{
			.echartsCon{
				// height: 12.65rem;
				height: 14.25rem;
			}
		}
	}

	.monthlyPerformanceTrend{
		.wrapper{
			// height: 17.45rem;
			.echartsCon{
				// height: 12.65rem;
				height: 15.0rem;
			}
		}
	}

	.yearCustomerData{
		.wrapper{
			.echartsCon{
				// height: 13.5rem;
				height: 11.5rem;
			}
		}
	}

	.yearCustomerTransacted{
		.wrapper{
			.echartsCon{
				// height: 16.2rem;
				height: 13.75rem
			}
		}
	}

	.frontLinePersonnel{
		.wrapper{
			.echartsCon{
				// height: 16.2rem;
				height: 17.5rem;
			}
		}
	}

	.noFrontLinePersonnel{
		.wrapper{
			.echartsCon{
				height: 16.2rem;
			}
		}
	}

}
