// 会员活动列表页面

.nav {
    display: flex;
    height: 2.1rem;
    width: 100%;
    background-color: white;
    div {
        flex: 1;
        text-align: center;
        line-height: 2.1rem;
        color: #9B9B9B;
        font-size: .7rem;
        background-color: white;
        position: relative;
        &.selected {
            color: #272727;
            &::after{
                position: absolute;
                height: 0.15rem;
                bottom: 0rem;
                left: 50%;
                margin-left: -1rem;
                content: '';
                width: 2rem;
                background: linear-gradient(to right, #6C83C9 0%, #061D6A 100%);
                border-radius: .07rem;
            }
        }
    }
}